* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	border: solid 3px red;
	/*Makes body a container that fits the content (image and text)*/
	display: flex;
	/*100% of the viewport height*/
	min-height: 100vh;
	margin: 0;
}

nav {
	background: lightblue;
}

main {
	border: dotted 3px orange;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;

}

header, footer {
	background: yellowgreen;
}

section {
	border: dashed 3px blue;
	display: flex;
	flex-grow: 1;
}

article {
	flex-grow: 1;
}

aside {
	background: pink;
}

/*Phone*/
@media (max-width: 575px) {
	nav, footer {
		display: none;
	}
}

/*Small Tablet*/
@media (max-width: 991px) and (min-width: 576) {
	/*Make nav bigger*/
	nav {
		flex-grow: 2;
	}
}

/*Landscape*/
@media (orientation: landscape) {
	/*Make nav bigger*/
	nav {
		flex-direction: row;
	}
}